<div class="d-flex justify-content-center align-items-center" id="bottom-pagination">
    <ul class="pagination pagination-sm">
        <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ path(route, {page : page - 1}) }}#bottom-pagination">&laquo;</a>
        </li>
        {% for i in 1..pages %}
            <li class="page-item {% if page == i %}active{% endif %}">
                <a class="page-link" href="{{ path(route, {page : i}) }}#bottom-pagination">{{ i }}</a>
            </li>
        {% endfor %}
        <li class="page-item {% if page == pages %}disabled{% endif %}">
            <a class="page-link" href="{{ path(route, {page : page + 1}) }}#bottom-pagination">&raquo;</a>
        </li>
    </ul>
</div>