{% extends 'base.html.twig' %}

{% block title %} Bienvenue sir le meilleur site d'hebergement touristique au Cameroun {% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Hello, world!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum dignissimos excepturi fugiat mollitia necessitatibus odit perferendis repellendus repudiandae. Dolorem ipsa itaque laborum magnam perferendis quae soluta ut! Similique, sunt..</p>
            <hr class="my-4">
            <p>Vous rêvez d'une nuit de rêve??? Visitez le site NephBNB et vous ne serez pas decu</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir les annonces</a>
            </p>
        </div>

        <h3 class="h2 mt-3 mb-4">Nos meilleurs appartements</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>129.900 Fcfa / nuit</strong><br>
                        <small>Pas encore note</small>
                    </div>
                    <img src="/dist/img/bg2.jpg" alt="Image de l'appartement" class="home-card-image">
                    <div class="card-body">
                        <h4 class="card-title">
                            La chimamelure de l'appartement
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolore dolorum laborum suscipit vitae, voluptate! Aperiam exercitationem.
                        </p>
                        <a href="" class="btn btn-secondary">Plus d'info!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>129.900 Fcfa / nuit</strong><br>
                        <small>Pas encore note</small>
                    </div>
                    <img src="/dist/img/bg4.jpg" alt="Image de l'appartement" class="home-card-image">
                    <div class="card-body">
                        <h4 class="card-title">La chimamelure de l'appartement</h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolore dolorum laborum suscipit vitae, voluptate! Aperiam exercitationem.
                        </p>
                        <a href="" class="btn btn-secondary">Plus d'info!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>129.900 Fcfa / nuit</strong><br>
                        <small>Pas encore note</small>
                    </div>
                    <img src="/dist/img/bg3.jpg" alt="Image de l'appartement" class="home-card-image">
                    <div class="card-body">
                        <h4 class="card-title">
                            La chimamelure de l'appartement
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolore dolorum laborum suscipit vitae, voluptate! Aperiam exercitationem.
                        </p>
                        <a href="" class="btn btn-secondary">Plus d'info!</a>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="h2 mt-3 mb-4">Nos hébergeurs VIP</h4>
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">S Le Nephilim</h4>
                        <hr>
                        <div class="card-text">
                            <img src="/dist/img/12.png" alt="Image de profil" class="home-card-profil float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda, autem cumque dicta error iusto, natus, nulla officiis placeat quasi sit vero voluptas voluptate. Alias cumque minus obcaecati reprehenderit voluptates!</p>
                            <p class="lead"><a href="#" class="btn btn-success float-right">Plus d'info!</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">S Le Nephilim</h4>
                        <hr>
                        <div class="card-text">
                            <img src="/dist/img/12.png" alt="Image de profil" class="home-card-profil float-left mr-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda, autem cumque dicta error iusto, natus, nulla officiis placeat quasi sit vero voluptas voluptate. Alias cumque minus obcaecati reprehenderit voluptates!</p>
                            <p class="lead"><a href="#" class="btn btn-success float-right">Plus d'info!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}